.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-grid-tile-content{
  height: 700px;
}

.dashboard-card-content {
  text-align: center;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.table__column{
  text-align: center;
  font-size: 18px;
}

.mat-hint {
	color: green !important;
  font-size: 13px;
}